---
import MainLayout from "../../layouts/MainLayout.astro";
import Tags from "../../components/ui/Tags.astro"; // Not used in this snippet, but kept for context
import { getEntry } from 'astro:content';
import { formatDate } from "../../utils"; // Not used in this snippet, but kept for context

import "../../styles/global.css";

const { slug } = Astro.params;

if(slug === undefined) {
  throw new Error('Slug is required');
}

const entry = await getEntry('docs', slug);

if(entry === undefined) {
  return Astro.redirect('/404');
}

console.log(entry);

const { Content } = await entry.render();

// Define the additional text
const additionalTitleText = " - The Ultimate Guide / 终极指南 / Полное Руководство";
---

<MainLayout title={`${entry.data.title}${additionalTitleText}`}>
  <main class="space-y-40 mb-40 pt-24">
      <section class="bg-white">
          <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-1 lg:py-16 lg:px-3">
              <div class="font-light text-gray-500 sm:text-lg">
                  <a href="/docs" title="laravel documentation" class="inline-flex items-center font-medium text-black hover:text-green my-4">
                    <i class="fas fa-book"></i>
                    Docs
                  </a>
                  <h1 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">
                    {entry.data.title}{additionalTitleText}
                  </h1>
                  <div class="content">
                    <Content/>
                  </div>
              </div>
          </div>
      </section>
  </main>
</MainLayout>