---
import MainLayout from "../../layouts/MainLayout.astro";
import SearchForm from "../../components/ui/SearchForm.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import SoftwareCard from "../../components/ui/SoftwareCard.astro";

import DocsCard from "../../components/ui/SoftwareCard.astro";

import Card from "../../components/ui/Card.astro";
import Section from "../../components/sections/Section.astro";

const allSoftware: CollectionEntry<"docs">[] =
  await getCollection("docs");
---

<MainLayout
  title="Laravel Documentation"
  description=" the documentationof the web framework that insure good starter kits creating your application."
>
  <main class="space-y-20">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-3">
      <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
        <h1 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold">
          Laravel Documentation
        </h1>
        <p class="font-light sm:text-xl">
          Laravel is a web application framework with expressive, elegant syntax. A web framework provides a structure and starting point for creating your application, allowing you to focus on creating something amazing while we sweat the details.
        </p>
      </div>
      <br />
      <SearchForm />
      <br />
      <div class="grid gap-8 lg:grid-cols-2">
        {allSoftware.map((soft) => <DocsCard software={soft} />)}
      </div>
    </div>
  </main>

</MainLayout>
