---
import MainLayout from "../../layouts/MainLayout.astro";
import ArticleCard from "../../components/ui/ArticleCard.astro";
import SearchForm from "../../components/ui/SearchForm.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const query: string | null = Astro.url.searchParams.get('query');

const allBlogArticles: CollectionEntry<'docs'>[] = await getCollection('docs');

// Filter articles based on query
const searchResults = allBlogArticles.filter(article => {
  const titleMatch: boolean = article.data.title
    .toLowerCase()
    .includes(query!.toLowerCase());

    const bodyMatch: boolean = article.body
    .toLowerCase()
    .includes(query!.toLowerCase());

    const slugMatch: boolean = article.slug
    .toLowerCase()
    .includes(query!.toLowerCase());

    return titleMatch || bodyMatch || slugMatch
});
---

<MainLayout title="Search Results">
	<main class="space-y-20">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">

            <a href="/docs" class="inline-flex items-center font-medium text-black hover:text-green my-4">

              <span class="ml-1 font-bold text-lg">View all laravel documentation</span>
            </a>

            <br>
            <SearchForm />
            <br>
            <h2 class="text-2xl pb-3 mt-6">Results For <strong>{query}</strong></h2>
            <div class="grid gap-8 lg:grid-cols-2">
              {searchResults.map(article => (
                <ArticleCard article={article} />
              ))}
            </div>  
        </div>
	</main>
</MainLayout>