---
import Section from "./Section.astro";
import { Image } from "astro:assets";
import HeroIlust from "./../../../public/logo.png";
---

<Section id="home">
   
    <div
        class="relative flex flex-col-reverse items-center md:flex-row"
        id="hero"
    >
        <div class="row items-center py-5 md:w-6/12 md:pb-20 md:pt-10">
            <div class="text-left space-y-3">
                <h1

                title="laravel development agency"
                    class="text-4xl  text-[#031D40] font-medium leading-none md:text-6xl text-center md:text-left"
                >
                    Laravel Agency 
                </h1>
                <p class="text-[#031D40]">
                    We provide software development services that are Build for scalable, high-performance web solutions with Laravel Framework.
                    
                </p>
                <p
                    class="mt-6 mb-8 text-lg font-normal leading-7 sm:mb-12 text-center md:text-left md:pr-12"
                >
                Our expertise encompasses a range of software services, including meticulous maintenance, timely updates, bespoke development of CRM systems, and seamless REST API implementations, alongside strategic PPC campaigns, impactful social media marketing, and compelling content creation.
                </p>
                <div
                    class="w-full justify-center md:justify-start items-center inline-flex"
                >
                    <a
                        href="contact"
                        target="_blank"
                        class="px-8 py-5 bg-green hover:bg-blue rounded-2xl text-center text-white hover:text-black border text-xl font-normal leading-7"
                        >Book a consultation
                    </a>
                </div>
            </div>
        </div>
        <div class="flex items-center py-5 md:w-6/12 md:pb-20 md:pt-10">
            <Image inferSize={true} src="https://i.imgur.com/xD1xl8M.png" alt="Laravel Agency" loading="eager" />
        </div>
    </div>
</Section>
