---
import Section from "./Section.astro";
---

<Section id="home">
    <!-- Hero Section -->
    <section class="relative from-blue-50 to-white">
        <div class="container mx-auto px-4 py-20 md:py-28">
            <div class="flex flex-col md:flex-row items-center gap-12">
                <div class="md:w-1/2 text-center md:text-left space-y-8">
                    <h1
                        class="text-5xl md:text-6xl font-bold leading-tight text-gray-900"
                        title="Laravel Agency"
                    >
                        <span class="text-red-600">Laravel™</span> Impossible? Let’s
                        see.
                    </h1>
                    <p class="text-2xl text-gray-600 leading-relaxed">
                        Laravel™ Agency strives to continuously progress
                        Laravel™, by sharing our latest developments and best
                        practices.
                    </p>

                    <p>
                        Our team tries to improve the state of the Laravel™
                        through research, systems engineering, and collaboration
                        across the globe. We publish hundreds of Laravel™
                        author-written papers each year trought across a wide
                        range of domains, sharing our latest developments in
                        order to collaboratively progress computing and science.
                    </p>
                    <p>
                        Using skill, experience and client input we create
                        powerful, valuable solutions that stand the test of
                        time. Our Laravel™ development services combine these
                        foundations with technical prowess, flawless design and
                        an integrated approach.
                    </p>
                </div>
                <div class="md:w-1/2 mt-12 md:mt-0">
                    <img
                        src="logo.png"
                        alt="Laravel™ Agency"
                        class="w-full h-auto animate-float"
                    />
                </div>
            </div>
        </div>
    </section>
</Section>
