---
import Accordion from "../ui/Accordion.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";

const description = "";
---

<Section id="process">
  <div class="mt-[140px]">

    <div class="flex flex-col items-center gap-10 mb-20 sm:flex-row">
      <p
        class="greenhead text-xl text-center sm:text-left text-3xl sm:text-3xl"
        title="our laravel agency services "
      >
       Our Process
    </p>
      <p class="w-auto text-xl text-center sm:text-left sm:w-[580px]">
        Our software development process is quite straightforward. We follow a
        clear, structured approach that ensures each project is delivere in
        time.
      </p>
    </div>

    <Accordion />


    
  </div>
</Section>
