---
import Accordion from "../ui/Accordion.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";

const description = "";
---

<Section id="process">
  <div class="mt-[140px]">
    <SectionTitle
      sectionTitle="Software development process"
      description="Our software development process is quite straightforward. We follow a clear, structured approach that ensures each project is delivere in time."
    />
    <Accordion />
  </div>
</Section>