---
import Cases from "../components/sections/Cases.astro";
import Hero from "../components/sections/Hero.astro";
import Process from "../components/sections/Process.astro";
import Proposal from "../components/sections/Proposal.astro";
import Services from "../components/sections/Services.astro";
import MainLayout from "../layouts/MainLayout.astro";
import LaravelCompany from "../components/sections/laravel-shopify.astro";
// title="Laravel Development Agency | London, UK - City of London"
  // description="Experienced Laravel development agency in the UK. Our laravel developers specialise in creating bespoke laravel solutions. Contact our Laravel team noAs experts in Laravel, we design, build and maintain bespoke, human-centric products and applications that scale and perform for your business as it grows."

  import Section from "../components/sections/Section.astro";
  import Card from "../components/ui/Card.astro";
  import Mail from "../components/products/Mail.astro";
import GPT from "../components/products/GPT.astro";
---

<MainLayout
  title="Laravel Agency | Laravel Consulting"
  description="We are a global laravel development agency, our laravel developers build bespoke laravel websites. Get in touch with our developers today."
>

  <Hero />
  <Services />
  <Mail />

  <GPT />

  <LaravelCompany />

  <Process />


  <Proposal />
  <Cases />
  <div class="w-full">
    <footer data-testid="flowbite-footer" class="w-full bg-white shadow dark:bg-gray-800 md:flex md:items-center md:justify-between">
      <div class="mx-auto flex max-w-screen-xl flex-col items-center p-4 text-center md:p-8 lg:p-10 [&>div]:w-fit">
        <!-- Logo + Brand -->
        <div class="flex flex-col items-center">
          <a data-testid="flowbite-footer-brand" href="https://laravelcompany.com" class="mb-4 flex items-center sm:mb-0">
            <img alt="Flowbite logo" src="logo-light.svg" class="mr-3 h-8">
            <span data-testid="flowbite-footer-brand-span" class="self-center whitespace-nowrap text-2xl font-semibold text-primary">Laravel Company</span>
          </a>
          
    
        </div>
  
        <!-- Description -->
        <p class="my-6 text-gray-500 dark:text-gray-400">
          Open-source company with over 200+ developers available for hire today.
        </p>
  
        <!-- Copyright -->
        <div data-testid="flowbite-footer-copyright" class="text-sm text-gray-500 dark:text-gray-400 sm:text-center">
          © 2002 <a href="https://laravelcompany.com" class="ml-1 hover:underline">Laravel™ Agency</a>. All Rights Reserved.</a>
        </div>
      </div>
    </footer>
  </div>
  

</MainLayout>


