---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Services from "../components/Services.astro"
import Team from '../components/Team.astro';
---

<Layout title="Laravel Agency">
	<main class="space-y-20">
		<Hero/>
		<Services/>
		<Team/>
	</main>
</Layout>