---
import Cases from "../components/sections/Cases.astro";
import Hero from "../components/sections/Hero.astro";
import Process from "../components/sections/Process.astro";
import Proposal from "../components/sections/Proposal.astro";
import Services from "../components/sections/Services.astro";
import MainLayout from "../layouts/MainLayout.astro";
import LaravelCompany from "../components/sections/laravel-shopify.astro";
import Mail from "../components/products/Mail.astro";
import GPT from "../components/products/GPT.astro";
---

<MainLayout
  title="Laravel™ Developers On-Demand | From £27.90/hr | 48h Match Guarantee | Laravel™ Agency"
  description="Improve your Laravel™ project with our Laravel™ experts recomandations. We offer a 48h match guarantee. 100% risk-free trial. Custom CMS, eCommerce, CRM, SaaS. Proven delivery, real results."
>
  <Hero />
  
  <Services />

  <Mail />

  <GPT />

  <LaravelCompany />

  <Process />

  <Proposal />
  
  <Cases />
  
  <div class="w-full">
    <footer data-testid="flowbite-footer" class="w-full bg-white shadow dark:bg-gray-800 md:flex md:items-center md:justify-between">
      <div class="mx-auto flex max-w-screen-xl flex-col items-center p-4 text-center md:p-8 lg:p-10 [&>div]:w-fit">
        <!-- Logo + Brand -->
        <div class="flex flex-col items-center">
          <a data-testid="flowbite-footer-brand" href="https://laravelcompany.com" class="mb-4 flex items-center sm:mb-0" title="laravel development london">
            <img alt="laravel company logo" src="logo-light.svg" class="mr-3 h-8">
            <span data-testid="flowbite-footer-brand-span" class="self-center whitespace-nowrap text-2xl font-semibold text-primary">Laravel™ Company</span>
          </a>
        
    
        </div>
  
        <!-- Description -->
        <p class="my-6 text-gray-500 dark:text-gray-400">
          Open-source company with over 200+ developers available for hire today.
        </p>
  
        <!-- Copyright -->
        <div data-testid="flowbite-footer-copyright" class="text-sm text-gray-500 dark:text-gray-400 sm:text-center">
          © 2002 <a href="https://laravelcompany.com" title="laravel company " class="ml-1 hover:underline">Laravel™ Company</a>. All Rights Reserved.
        </div>
      </div>
    </footer>
  </div>
  

</MainLayout>


