---
import Container from "./Container.astro"
---
<Container>
<div class="relative flex flex-col-reverse item md:flex-row" id="hero">
    <div class="row items-center py-5 md:w-6/12 md:pb-20 md:pt-10">
        <div class="text-left space-y-3">
            <h1 class="text-7xl font-medium leading-none md:text-7xl text-center md:text-left">
                Laravel Company
            </h1>
            <p class="mt-6 mb-8  text-2xl font-normal leading-7 sm:mb-12 text-center md:text-left">
                Crafting Digital Magic, One Line of Code at a Time!
            </p>

            <p>
                London based laravel retainer with a passion for building open source software.
            </p>
        </div>
    </div>
</div>
<!--
<div class="flex-row items-center">
    <div class="grid grid-cols-3 sm:grid-cols-3 md:grid-cols-6">
        <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
            <img src="./clients/01.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
        </div>
        <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
            <img src="./clients/02.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
        </div>
        <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
            <img src="./clients/03.svg" class="h-9 w-auto m-auto" loading="lazy" alt="client logo" width="" height="" />
        </div>
        <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
            <img src="./clients/04.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
        </div>
        <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
            <img src="./clients/05.svg" class="h-8 w-auto m-auto" loading="lazy" alt="client logo" width="" height="" />
        </div>
        <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
            <img src="./clients/06.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
        </div>
    </div>
</div>
!-->
</Container>