---
import MainLayout from "../../layouts/MainLayout.astro";
import SearchForm from "../../components/ui/SearchForm.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import SoftwareCard from "../../components/ui/SoftwareCard.astro";

import Card from "../../components/ui/Card.astro";
import Section from "../../components/sections/Section.astro";
import ProductCard from "../../components/ui/ProductCard.astro";

const allSoftware: CollectionEntry<"products">[] =
  await getCollection("products");
---

<MainLayout
  title="Laravel software agency and starter kits for business and developers"
  description="Discover our laravel software and starter kits for business and developers"
>
  <main class="space-y-20">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-3">
      <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
          <h1 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold">
              Explore Our Premium <a href="https://laravelcompany.com">Laravel Products</a> and Starter Kits
          </h1>
          <p class="font-light sm:text-xl">
              Discover a wide variety of high-quality **Laravel software** and **starter kits** designed to meet all your development needs. From powerful **CRM solutions** and **SaaS platforms** to comprehensive **admin panels** and **e-commerce templates**, we provide the essential tools to kickstart and accelerate your next Laravel project.
          </p>
      <br />

      <div class="grid gap-8 lg:grid-cols-2">
        {allSoftware.map((soft) => <ProductCard software={soft} />)}
      </div>
    </div>
  </main>
</MainLayout>
