---
import Container from "./Container.astro"
---
<Container>
    <div class="row items-center py-5 md:w-6/12 md:pb-20 md:pt-10">
        <div class="text-left space-y-3"><h1 class="text-5xl font-medium leading-none md:text-6xl text-center md:text-left">
            Laravel Agency Essex
            </h1>
            <p class="mt-6 mb-8  text-xl font-normal leading-7 sm:mb-12 text-center md:text-left">
                your friendly developers in building and scaling web solutions. 
                We specialize in serving businesses across Essex, helping them grow and succeed online with cutting-edge 
                Laravel development services and open-source solutions.
            </p>
            <div class="w-full justify-center md:justify-start items-center inline-flex"><a
                    href="contact" target="_blank"
                    class="px-8 py-5 bg-zinc-900 hover:bg-white rounded-2xl text-center text-white hover:text-black border text-xl font-normal leading-7">Book
                a consultation
            </a></div>
        </div>
    </div>

</Container>