---
import MainLayout from "../../layouts/MainLayout.astro";
import Tags from "../../components/ui/Tags.astro";
import { getEntry, getCollection } from 'astro:content';

import "../../styles/global.css";

const { slug } = Astro.params;

if(slug === undefined) {
  throw new Error('Slug is required');
}

const entry = await getEntry('software', slug);
console.log('Slug:', slug);
console.log('Entry found:', !!entry);
if (!entry) {
    console.log('Available software entries:', await getCollection('software'));
}
if(entry === undefined) {
  return Astro.redirect('/404');
}

const { Content } = await entry.render();
---

<MainLayout title="Welcome to My site">
	<main class="space-y-40 mb-40 pt-24">
      <section class="bg-white">
          <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-1 lg:py-16 lg:px-3">
              <div class="font-light text-gray-500 sm:text-lg">
                  <h1 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">{entry.data.title}</h1>
                  <img src={ entry.data.image} alt="Software starter kit" class="w-full h-auto rounded-xl my-6" />
                  <div class="content">
                    <Content/>
                  </div>
              </div>
          </div>
      </section>
	</main>
</MainLayout>