---
import MainLayout from "../../layouts/MainLayout.astro";
import SearchForm from "../../components/ui/SearchForm.astro";
import { getCollection } from 'astro:content';
import type { CollectionEntry } from "astro:content";
import SoftwareCard from "../../components/ui/SoftwareCard.astro";


const allSoftware: CollectionEntry<'software'>[] = (await getCollection('software'));

---

<MainLayout title="Best laravel only framework software to download and use today">
	<main class="space-y-20">
            <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-3">
                <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
                    <h1 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold">
                       Download Laravel starter kits for your next project.
                    </h1>
                    <p class="font-light sm:text-xl">
                        We have a wide variety of software that we have created in the past. Get your Laravel Starter Kit for your next project.
                    </p>
                </div> 
                <br>
                <SearchForm />
                <br>
                <div class="grid gap-8 lg:grid-cols-2">
                    {allSoftware.map(soft => (
                        <SoftwareCard software={soft} />
                    ))}
                </div>  
            </div>
	</main>
</MainLayout>